In [3]:
import pandas as pd
import seaborn as sns
import numpy as np

In [5]:
ts = pd.read_csv("D:\ML & Data Science INTRN\shruti projects\dummy bank data.csv")
ts.head()

,Col1,Col2,Col3,Col4,Col5,RIGHGSN,RIMHI5ZGP,RIHOG1SZU,RIHOLMQWU,RIHO584ET,RIHR51XD6,RDHD6BX,RS0UVS4,TIWWI0K5
0,RIGHGSN,1,1.086711e+04,8.648345e+03,1.576618e+04,1,0,0,0,0,0,0,0,0
1,RIMHI5ZGP,0,2.584312e+05,2.179633e+05,1.866287e+05,0,0,0,0,0,0,0,0,0
2,RIHOG1SZU,0,1.459355e+07,1.260060e+07,1.100315e+07,0,0,0,0,0,0,0,0,0
3,RIHOLMQWU,0,6.727043e+05,8.181116e+05,6.794893e+05,0,0,0,0,0,0,0,0,0
4,RIHO584ET,0,-1.218742e+06,-3.005361e+06,-1.666241e+05,0,0,0,0,0,0,0,0,0

### Create Dummies variable

In [46]:
pd.get_dummies(ts.Col1)

,RDHD6BX,RIGHGSN,RIHO584ET,RIHOG1SZU,RIHOLMQWU,RIHR51XD6,RIMHI5ZGP,RS0UVS4,TIWWI0K5
0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0
2,0,0,0,1,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0
4,0,0,1,0,0,0,0,0,0
5,0,0,0,0,0,1,0,0,0
6,1,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,1,0
8,0,0,0,0,0,0,0,0,1
9,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0

In [47]:
dummies = pd.get_dummies(ts.Col1)
dummies.head()

,RDHD6BX,RIGHGSN,RIHO584ET,RIHOG1SZU,RIHOLMQWU,RIHR51XD6,RIMHI5ZGP,RS0UVS4,TIWWI0K5
0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0
2,0,0,0,1,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0
4,0,0,1,0,0,0,0,0,0

In [62]:
merge = pd.concat([ts,dummies],axis='columns')
merge.head()

,Col1,Col2,Col3,Col4,Col5,RIGHGSN,RIMHI5ZGP,RIHOG1SZU,RIHOLMQWU,RIHO584ET,...,Unnamed: 14,RDHD6BX,RIGHGSN,RIHO584ET,RIHOG1SZU,RIHOLMQWU,RIHR51XD6,RIMHI5ZGP,RS0UVS4,TIWWI0K5
0,RIGHGSN,1.0,1.086711e+04,8.648345e+03,1.576618e+04,1.0,0.0,0.0,0.0,0.0,...,NaN,0,1,0,0,0,0,0,0,0
1,RIMHI5ZGP,0.0,2.584312e+05,2.179633e+05,1.866287e+05,0.0,0.0,0.0,0.0,0.0,...,NaN,0,0,0,0,0,0,1,0,0
2,RIHOG1SZU,0.0,1.459355e+07,1.260060e+07,1.100315e+07,0.0,0.0,0.0,0.0,0.0,...,NaN,0,0,0,1,0,0,0,0,0
3,RIHOLMQWU,0.0,6.727043e+05,8.181116e+05,6.794893e+05,0.0,0.0,0.0,0.0,0.0,...,NaN,0,0,0,0,1,0,0,0,0
4,RIHO584ET,0.0,-1.218742e+06,-3.005361e+06,-1.666241e+05,0.0,0.0,0.0,0.0,0.0,...,NaN,0,0,1,0,0,0,0,0,0

In [52]:
final = merge.drop(['Col1',], axis=1)
final.head()

,Col2,Col3,Col4,Col5,RIGHGSN,RIMHI5ZGP,RIHOG1SZU,RIHOLMQWU,RIHO584ET,RIHR51XD6,...,Unnamed: 14,RDHD6BX,RIGHGSN,RIHO584ET,RIHOG1SZU,RIHOLMQWU,RIHR51XD6,RIMHI5ZGP,RS0UVS4,TIWWI0K5
0,1.0,1.086711e+04,8.648345e+03,1.576618e+04,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,0,1,0,0,0,0,0,0,0
1,0.0,2.584312e+05,2.179633e+05,1.866287e+05,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,0,0,0,0,0,0,1,0,0
2,0.0,1.459355e+07,1.260060e+07,1.100315e+07,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,0,0,0,1,0,0,0,0,0
3,0.0,6.727043e+05,8.181116e+05,6.794893e+05,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,0,0,0,0,1,0,0,0,0
4,0.0,-1.218742e+06,-3.005361e+06,-1.666241e+05,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,0,0,1,0,0,0,0,0,0

In [60]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [54]:
x=final.drop('TIWWI0K5',axis=1)
x

,Col2,Col3,Col4,Col5,RIGHGSN,RIMHI5ZGP,RIHOG1SZU,RIHOLMQWU,RIHO584ET,RIHR51XD6,...,RS0UVS4,Unnamed: 14,RDHD6BX,RIGHGSN,RIHO584ET,RIHOG1SZU,RIHOLMQWU,RIHR51XD6,RIMHI5ZGP,RS0UVS4
0,1.0,1.086711e+04,8.648345e+03,1.576618e+04,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0,1,0,0,0,0,0,0
1,0.0,2.584312e+05,2.179633e+05,1.866287e+05,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0,0,0,0,0,0,1,0
2,0.0,1.459355e+07,1.260060e+07,1.100315e+07,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0,0,0,1,0,0,0,0
3,0.0,6.727043e+05,8.181116e+05,6.794893e+05,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0,0,0,0,1,0,0,0
4,0.0,-1.218742e+06,-3.005361e+06,-1.666241e+05,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0,0,1,0,0,0,0,0
5,0.0,3.911176e+06,3.911176e+06,2.995007e+06,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0,0,0,0,0,1,0,0
6,0.0,1.173942e+05,8.499665e+04,8.499665e+04,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,1,0,0,0,0,0,0,0
7,0.0,2.582386e+05,2.101529e+05,2.104294e+05,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0,0,0,0,0,0,0,1
8,0.0,1.463930e+04,1.581304e+04,1.928101e+04,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0,0,0,0,0,0,0,0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,0
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,0
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0,0,0,0,0,0,0,0

In [59]:
y = final.TIWWI0K5
y.head()

   TIWWI0K5  TIWWI0K5
0       0.0         0
1       0.0         0
2       0.0         0
3       0.0         0
4       0.0         0

In [63]:
model.fit(x,y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [20]:

#data1 = pd.DataFrame()      #join(tr,ts, on=None,how='left')
#data1

#for name, group in df.groupby

#data2 =tr.copy()
#data2.groupby[['Unique_id']][['Target']].aggregate(sum)

In [32]:
#plt.scatter(tr.Unique_id.tr.Target)

In [6]:
#x = df["Calories"].mode()[0]

## Filtering Out Missing Data

In [14]:
#tr.columns

In [22]:
tr.describe()

,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
count,17521.000000,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,...,17521.000000,17521.000000,17521.000000,17521.000000,16347.000000,16347.000000,16335.000000,16347.00000,16347.000000,16335.000000
mean,0.100508,3.158967e+04,2.046540e+04,2.502937e+04,2.789385e+04,2.597734e+04,3.302600e+04,2.912693e+04,2.971069e+04,3.617392e+04,...,0.736202,0.595343,0.773757,0.639005,55.540038,55.015416,35.180961,17.99584,17.539977,10.359657
std,0.300685,7.612897e+05,7.136908e+05,6.018207e+05,6.091245e+05,7.211998e+05,7.488433e+05,2.175595e+05,2.981508e+05,2.612427e+05,...,0.910828,0.784953,0.921805,0.806286,53.269618,52.697069,34.956016,24.83891,24.685954,18.476447
min,0.000000,-8.555719e+07,-8.555719e+07,-7.011955e+07,-7.100920e+07,-8.480658e+07,-9.016250e+07,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,0.000000,2.742337e+03,2.007863e+03,1.857013e+03,2.562647e+03,2.973188e+03,3.822170e+03,1.824148e+03,1.787456e+03,3.505288e+03,...,0.000000,0.000000,0.000000,0.000000,21.000000,21.000000,12.000000,9.00000,9.000000,5.000000
50%,0.000000,9.308060e+03,6.642857e+03,6.236503e+03,8.464355e+03,1.036962e+04,1.303534e+04,5.705458e+03,5.536147e+03,8.832639e+03,...,0.000000,0.000000,0.000000,0.000000,42.000000,42.000000,27.000000,13.00000,13.000000,7.000000
75%,0.000000,3.053873e+04,2.156093e+04,2.068154e+04,2.773849e+04,2.645998e+04,3.359204e+04,1.852222e+04,1.753976e+04,2.341911e+04,...,1.000000,1.000000,1.000000,1.000000,74.000000,73.000000,47.000000,21.00000,21.000000,12.000000
max,1.000000,1.459355e+07,1.288980e+07,1.478068e+07,1.178075e+07,1.879882e+07,1.514035e+07,1.125630e+07,2.788633e+07,1.314762e+07,...,4.000000,4.000000,4.000000,4.000000,1305.000000,1305.000000,1211.000000,2205.00000,2205.000000,1831.000000

In [12]:
#from numpy import nan as NA
#train.loc[:1, 50] = NA
#train.head()

In [7]:
#mport numpy as np
#rain    = pd.DataFrame(np.random.randn(5,2395))

#rain     .iloc[:4,2]=NA
#f.iloc[:2, 2] = NA
#rain

In [9]:
#rain = pd.DataFrame({'Col2388': ['Na',  'Na']* 3 + ['Na'],
                        #Col2389': ['Na', 'Na']})   
#train

#train[train['Col2388'].isnull()]

## Shape of Data

In [18]:
tr.shape

(17521, 2394)

In [19]:
len(tr)

17521

## No Empty Value in cells

In [20]:
tr.notnull().sum()

Col2       17521
Col3       17521
Col4       17521
Col5       17521
Col6       17521
           ...
Col2393    16347
Col2394    16335
Col2395    16347
Col2396    16347
Col2397    16335
Length: 2394, dtype: int64

In [21]:
tr.isnull().sum()

Col2          0
Col3          0
Col4          0
Col5          0
Col6          0
           ...
Col2393    1174
Col2394    1186
Col2395    1174
Col2396    1174
Col2397    1186
Length: 2394, dtype: int64

In [13]:
#ts.head()

In [47]:
ts.columns

Index(['Target_1', 'Col4', 'Col5', 'Col6', 'Col7', 'Col8', 'Col9', 'Col10',
       'Col11', 'Col12',
       ...
       'Col2388', 'Col2389', 'Col2390', 'Col2391', 'Col2392', 'Col2393',
       'Col2394', 'Col2395', 'Col2396', 'Col2397'],
      dtype='object', length=2393)

In [24]:
ts.shape

(20442, 2393)

## No Empty Value in cells

In [25]:
ts.notnull().sum()

Target     20442
Col4       20442
Col5       20442
Col6       20442
Col7       20442
           ...
Col2393    19183
Col2394    19164
Col2395    19183
Col2396    19183
Col2397    19164
Length: 2393, dtype: int64

In [26]:
ts.isnull().sum()

Target        0
Col4          0
Col5          0
Col6          0
Col7          0
           ...
Col2393    1259
Col2394    1278
Col2395    1259
Col2396    1259
Col2397    1278
Length: 2393, dtype: int64

In [27]:
len(ts)

20442

In [28]:
#tr = pd.DataFrame(np.random.randint(10, size=(5,6)), columns=list('Target'))

In [6]:
X=ts.iloc[:, 1].values
print(X)
y=tr.iloc[:,1].values
print(y)

[ 8.61454200e+04 -4.49304278e+06  1.34144892e+06 ...  1.40645728e+05
  6.33805820e+04 -6.41644852e+07]
[1.08671100e+04 2.58431243e+05 1.45935482e+07 ... 4.22094133e+04
 7.04849633e+04 1.01919833e+04]

### Split The Data in X & y Vriable

In [10]:
X = ts.drop('Col2397', axis=1)
y = ts['Col2397']

print('shape of X =', X.shape)
print('shape of y =', y.shape)

shape of X = (20442, 2392)
shape of y = (20442,)

In [33]:
##from sklearn.metrics import r2_score
#np.random.seed(2)

### Split The Data into X & y

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=50)

## Shape of Data Set

In [12]:
print('shape of X =',X.shape)
print('shape of y =',y.shape)

shape of X = (20442, 2392)
shape of y = (20442,)

In [13]:
print('shape of X_train =', X_train.shape)
print('shape of y_train =', y_train.shape)
print('shape of X_test =', X_test.shape)
print('shape of y_test =', y_test.shape )

shape of X_train = (16353, 2392)
shape of y_train = (16353,)
shape of X_test = (4089, 2392)
shape of y_test = (4089,)

### Slpit Data

In [14]:
X_train

,Target_1,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,...,Col2387,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396
Unique_id_1,,,,,,,,,,,,,,,,,,,,,
OLVIUMYD,30063.593330,30063.593330,28101.215000,25798.527500,50833.486670,43606.365000,8219.131676,10277.138640,26129.541140,25881.543890,...,0,0,0,0,0,64.0,64.0,59.0,12.0,12.0
O1HUV8QZ,6276.270000,9903.985000,9243.602857,9903.985000,8806.818333,8806.818333,3999.603992,3999.603992,3889.522522,3889.522522,...,0,0,0,0,0,21.0,20.0,10.0,12.0,9.0
O15DC8Q9,10209.416670,10182.038000,10748.473330,8485.031667,9708.040000,8090.033333,483.668904,3821.968566,2331.202265,4198.882298,...,0,1,1,1,1,97.0,97.0,79.0,34.0,34.0
OIMO5OKY,923.380000,703.801667,703.801667,1407.603333,42.085833,84.171667,1125.702394,1242.464065,59.694640,59.869770,...,0,0,1,0,1,55.0,55.0,16.0,13.0,13.0
O1HWUMZ9,485.580000,303.358000,252.798333,252.798333,337.956000,281.630000,406.074790,387.565724,630.275126,588.996382,...,0,1,0,1,0,17.0,17.0,16.0,10.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
O1WDG14E,2630.613333,1127.405714,986.480000,1315.306667,174.542857,203.633333,1618.748813,1676.270889,349.106802,369.138702,...,0,1,1,1,1,94.0,94.0,94.0,17.0,17.0
O1GKLYNE,2803.980000,2365.701667,2027.744286,2365.701667,2690.241667,2690.241667,1650.529975,1650.529975,2923.579454,2923.579454,...,0,2,0,2,0,61.0,61.0,35.0,29.0,29.0
O90RL05J,59272.936670,25795.213330,25867.794170,51590.426670,25708.557500,51417.115000,30706.095120,23556.612000,34591.667370,32730.394320,...,0,1,2,1,2,154.0,154.0,89.0,117.0,117.0
OLLB5MKG,6381.943333,7414.840000,6179.033333,6179.033333,1361.728000,1134.773333,5833.704445,6000.271429,1703.026409,1635.449963,...,0,1,0,1,0,53.0,53.0,43.0,8.0,8.0
O1LIOMQ5,4516.273333,3267.795714,2859.321250,3812.428333,12581.554290,14678.480000,2413.275786,2172.057508,5505.934464,2140.816311,...,1,1,1,1,1,51.0,51.0,33.0,8.0,8.0

In [15]:
X_test

,Target_1,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,...,Col2387,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396
Unique_id_1,,,,,,,,,,,,,,,,,,,,,
OLVR65YJ,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
O1G6L55Z,158888.443300,86759.508570,75914.570000,101219.426700,118665.714300,138443.333300,70314.047600,65606.474610,77537.927580,65388.222260,...,0,0,0,0,0,0.0,0.0,0.0,8.0,8.0
O1YO6OQG,44907.933330,34895.386670,29910.331430,34895.386670,71120.525000,71120.525000,18492.086070,18492.086070,20356.894100,20356.894100,...,0,1,3,1,3,88.0,88.0,44.0,8.0,8.0
O7WRCCYZ,21133.860000,9588.446364,8789.409167,17578.818330,11338.690910,20787.600000,10160.009290,6984.461161,10359.170090,560.957777,...,0,0,0,0,0,1.0,1.0,1.0,4.0,4.0
7NLKOYX9,40014.553330,10855.235000,10855.235000,21710.470000,13710.800000,27421.600000,18665.807940,21474.344380,19904.502180,20405.839410,...,0,1,0,1,0,14.0,14.0,8.0,9.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7NYR6BZ5,-671.106667,6441.525833,30662.313330,12883.051670,4313.052500,8626.105000,17601.553310,23165.514640,23803.724970,33106.328760,...,0,1,1,1,1,65.0,65.0,33.0,23.0,23.0
O1E65B4J,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
72M6C8KR,25427.496670,10163.596670,11059.474170,20327.193330,11286.912500,22573.825000,12902.911900,11241.372170,14777.855020,13489.838740,...,0,0,1,0,1,30.0,30.0,15.0,20.0,20.0
O9GU68QE,4080.700000,2138.657273,1960.435833,3920.871667,515.718182,945.483333,2687.078322,2499.876835,1229.124203,1537.321136,...,0,2,1,2,1,61.0,61.0,40.0,9.0,9.0
O1GHUYKG,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN

In [17]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [55]:
Col2397 = [36.0,86.0,1.0,3.0,5.0]
print(Col2397)

#Col2397 = (','.join(map(str,Col2397)))
Col2397 = [str(i) for i in Col2397]

print(Col2397)

[36.0, 86.0, 1.0, 3.0, 5.0]
['36.0', '86.0', '1.0', '3.0', '5.0']

In [20]:
#import re

In [25]:
#tr_ = tr.replace('[^\d.]','', regex=True).astype(float)

In [56]:
model.fit(X_train, y_train)

ValueError: could not convert string to float: '-'

In [29]:
import matplotlib.pyplot as plt
%matplotlib inline

In [18]:
model.fit(X_train,y_train)

ValueError: could not convert string to float: '-'